.menu-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    max-width: 20em;
}
.menu-bar-banner-container {
    display: flex;
}
.shop-filter-list {
    display: flex;
    flex-direction: column;
}